/**
 * Web Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/**
 * Custom CSS
 */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0; }

h1 {
  font-size: 2.3rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

img {
  max-width: 98%; }

time {
  display: block;
  font-size: 0.8rem;
  color: #ccc;
  margin: 16px 0; }

.container {
  padding: 16px; }

main {
  text-align: center; }
  main iframe {
    width: 100%;
    margin-top: 70px; }
  main h2 {
    padding: 36px 0;
    font-weight: 100;
    font-size: 2.0rem;
    color: #444; }
  main img {
    margin: 32px 0;
    border: 1px solid #ccc;
    padding: 8px; }

footer {
  text-align: center;
  padding: 60px 0; }
