/**
 * Web Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/**
 * Custom CSS
 */
body {
  font-family: avenir next, "Noto Sans Japanese";
  background-image: url(/images/bg.png);
  background-size: cover;
  margin: 0; }

h1 {
  font-size: 2.3rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem;
  margin: 0; }

img {
  max-width: 98%; }

time {
  display: block;
  font-size: 0.8rem;
  color: #ccc;
  margin: 16px 0; }

.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -100; }

#cover {
  position: fixed;
  background: rgba(3, 6, 38, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99; }

#impression {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;
  text-align: center; }
  #impression * {
    color: #fff; }
  #impression .main-phrase {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 100;
    color: #fff;
    padding: 64px 0 64px 0; }
    #impression .main-phrase br {
      display: none; }
  #impression .main-description {
    text-align: center; }
    #impression .main-description .logo {
      width: 320px;
      height: auto; }
    #impression .main-description .text {
      margin-top: 36px;
      margin-bottom: 24px;
      padding: 0 24px;
      font-size: 14px;
      font-weight: 200;
      letter-spacing: 2px;
      line-height: 26px; }
    #impression .main-description .play-button {
      position: relative;
      padding: 16px 48px;
      padding-left: 72px;
      font-size: 14px;
      font-weight: 200;
      display: inline-block;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.1); }
      #impression .main-description .play-button img {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        left: 28px; }
      #impression .main-description .play-button:hover {
        background: rgba(255, 255, 255, 0.3); }

#advance-sns {
  margin-top: 64px;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 26px; }
  #advance-sns .container {
    position: relative; }
  #advance-sns iframe {
    left: 100px;
    position: absolute; }

#basic-unit-01 {
  padding: 64px 0;
  background: #FFF; }
  #basic-unit-01 h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 36px 0; }
  #basic-unit-01 .text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
    margin: 32px 0; }
  #basic-unit-01 .badge {
    position: relative;
    background: #F1F1F1;
    padding: 16px 24px;
    padding-left: 48px;
    font-size: 14px;
    display: inline;
    border-radius: 4px; }
    #basic-unit-01 .badge img {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 8px;
      left: 8px; }
  #basic-unit-01 .video-demo {
    width: 100%;
    margin-top: 64px; }

#basic-unit-02 {
  text-align: center;
  padding: 64px 0;
  background: #020626; }
  #basic-unit-02 * {
    color: #fff; }
  #basic-unit-02 .text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
    margin: 32px 0; }
  #basic-unit-02 h1 {
    font-size: 30px;
    font-weight: 100;
    margin: 36px 0; }
  #basic-unit-02 .wave {
    padding-top: 200px;
    padding-bottom: 200px; }
    #basic-unit-02 .wave .wave-line {
      position: relative;
      width: 100%;
      height: 1px;
      background: #fff;
      content: ''; }
    #basic-unit-02 .wave .wave-bg {
      position: absolute;
      top: -240px;
      height: 495px;
      width: 100%;
      right: 0;
      left: 0;
      background: url(/images/wave-bg2.png);
      background-position: center;
      background-size: auto 495px; }
    #basic-unit-02 .wave .wave-small {
      position: absolute;
      right: 50%;
      top: -130px;
      margin-right: 18%;
      width: 19px;
      height: 265px;
      background: url(/images/wave-small.png);
      background-size: cover;
      content: ''; }
    #basic-unit-02 .wave .wave-big {
      position: absolute;
      left: 50%;
      top: -240px;
      width: 35px;
      height: 495px;
      margin-left: 18%;
      background: url(/images/wave-big.png);
      background-size: cover;
      content: ''; }
  #basic-unit-02 .taps .tap-small img.finger-icon, #basic-unit-02 .taps .tap-big img.finger-icon {
    width: 64px;
    height: auto; }
  #basic-unit-02 .taps h4 {
    display: block;
    width: 240px;
    line-height: 56px;
    height: 56px;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 24px auto; }
  #basic-unit-02 .taps .tap-small h4 {
    border: 1px solid #63C3F6;
    color: #63C3F6; }
  #basic-unit-02 .taps .tap-big h4 {
    border: 1px solid #F59D00;
    color: #F59D00; }

#basic-unit-03 {
  text-align: center;
  padding: 64px 0;
  background: #fff; }
  #basic-unit-03 .text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
    margin: 32px 0; }
  #basic-unit-03 h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 36px 0; }
  #basic-unit-03 .try-text {
    padding: 15px 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px; }
  #basic-unit-03 .button-wrapper {
    width: 50%;
    float: left; }
  #basic-unit-03 .tap-button {
    margin: 16px 24px;
    height: 64px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer; }
    #basic-unit-03 .tap-button h5 {
      padding: 8px 0 4px 0;
      font-size: 18px;
      font-weight: 200; }
    #basic-unit-03 .tap-button p {
      font-size: 14px;
      font-weight: 100; }
  #basic-unit-03 #light-button {
    background: #2E97DE;
    border: 1px solid #227EBA;
    border-bottom: 3px solid #227EBA;
    color: #fff; }
    #basic-unit-03 #light-button:active {
      height: 67px;
      background: #227EBA;
      border-bottom: 0px solid #227EBA; }
  #basic-unit-03 #strong-button {
    background: #F59D00;
    border: 1px solid #E87F04;
    border-bottom: 3px solid #E87F04;
    color: #fff; }
    #basic-unit-03 #strong-button:active {
      height: 67px;
      background: #E87F04;
      border-bottom: 0px solid #227EBA; }

#magictv {
  position: relative;
  border: 9px solid #333;
  height: 400px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background: #020626; }
  #magictv .main-window {
    position: absolute;
    top: 12%;
    left: 3%;
    bottom: 12%;
    content: '';
    width: 65%;
    background: #33495F; }
    #magictv .main-window .img-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: ''; }
  #magictv .side-menu {
    position: absolute;
    top: 16px;
    bottom: 16px;
    right: 3%;
    width: 27%;
    overflow: hidden;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 0s;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-perspective: 1000; }
  #magictv .menu .title {
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-delay: 0s;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-perspective: 1000; }
    #magictv .menu .title.exec {
      background: #F2C500 !important; }
  #magictv .menu.selected .title {
    background: #00BD9C; }
  #magictv .top-menu {
    width: 95%;
    margin-top: 6px;
    margin-bottom: 6px; }
    #magictv .top-menu > .title {
      width: 100%;
      height: 88px;
      line-height: 88px;
      color: #fff;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 2px; }
  #magictv .child-menu {
    margin: 2px 0 2px 24px; }
    #magictv .child-menu > .title {
      color: #fff;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 2px;
      width: 100%;
      height: 46px;
      line-height: 46px; }
  #magictv .child-menu {
    display: none; }
    #magictv .child-menu.show {
      display: block; }
  #magictv .disnon {
    display: none; }

#magictv-bg {
  width: 100%;
  height: auto; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 64px;
  z-index: 10; }
  header h1 {
    color: #fff; }

.container {
  padding: 16px; }

.clear:after {
  display: block;
  content: '';
  clear: both; }

main {
  text-align: center; }
  main iframe {
    width: 100%;
    margin-top: 70px; }
  main h2 {
    padding: 36px 0;
    font-weight: 100;
    font-size: 2.0rem;
    color: #444; }
  main img {
    margin: 32px 0;
    border: 1px solid #ccc;
    padding: 8px; }

footer {
  text-align: center;
  padding: 60px 0;
  background: #212121;
  color: #fff; }

@media (max-width: 550px) {
  .bg-video {
    display: none; }
  br {
    display: none; }
  #impression {
    padding-top: 32px;
    padding-bottom: 32px; }
    #impression .main-phrase {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 100;
      color: #fff;
      padding: 64px 0 64px 0; }
      #impression .main-phrase br {
        display: inline; }
    #impression .logo {
      width: 240px !important;
      height: auto; }
  #advance-sns {
    margin-top: 64px;
    padding: 24px 0;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 26px; }
    #advance-sns iframe {
      display: block;
      position: static; } }

@media (max-width: 550px) {
  .container {
    width: 100%; } }
