/**
 * Web Fonts
 */
// Raleway
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);
// 'Noto Sans Japanese'
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@mixin transition($property, $duration, $timing, $delay) {
	  -webkit-transition-property : $property;
    -webkit-transition-duration : $duration;
    -webkit-transition-timing-function: $timing;
    -webkit-transition-delay: $delay;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility:hidden;
    transition-property : $property;
    transition-duration : $duration;
    transition-delay : $delay;
    transition-timing-function : $timing;
    transform : translate3d(0, 0, 0);
    backface-visibility:hidden;
    -webkit-perspective: 1000;
}

/**
 * Custom CSS
 */
body {
  font-family: avenir next, "Noto Sans Japanese";
  // font-family: 'Raleway', sans-serif;
  background-image:url(/images/bg.png);
  background-size: cover;
  margin:0;
}
h1 {
  font-size: 2.3rem;
}
h2 {
  font-size: 2.0rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
  margin:0;
}
img {
  max-width: 98%;
}
time {
  display: block;
  font-size: 0.8rem;
  color:#ccc;
  margin:16px 0;
}

.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
}
#cover {
  position: fixed;
  background:rgba(3,6,38,0.8);
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -99;
}
#impression {
  position: relative;
  padding-top: 64px;
  padding-bottom: 64px;
  overflow: hidden;
  text-align: center;
  * {
    color:#fff;
  }
  .main-phrase {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 100;
    color:#fff;
    padding:64px 0 64px 0;
    br {
      display: none;
    }
  }
  .main-description {
    text-align: center;
    .logo {
      width: 320px;
      height: auto;
    }
    .text {
      margin-top:36px;
      margin-bottom: 24px;
      padding:0 24px;
      font-size: 14px;
      font-weight: 200;
      letter-spacing: 2px;
      line-height: 26px;
    }
    .play-button {
      position: relative;
      padding: 16px 48px;
      padding-left: 72px;
      font-size: 14px;
      font-weight: 200;
      display: inline-block;
      border-radius: 4px;
      background:rgba(255,255,255,0.1);
      img {
        position: absolute;
        width: 32px;
        height: 32px;
        top:10px;
        left:28px;
      }
      &:hover {
        background:rgba(255,255,255,0.3);
      }
    }
  }
}
#advance-sns {
  margin-top:64px;
  padding: 24px 0;
  background:rgba(255,255,255,0.9);
  border:1px solid rgba(255,255,255,0.3);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 26px;
  .container {
    position: relative;
  }
  iframe {
    left:100px;
    position: absolute;
  }
}
#basic-unit-01 {
  padding:64px 0;
  background:#FFF;
  h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 36px 0;
  }
  .text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
    margin:32px 0;
  }
  .badge {
    position: relative;
    background: #F1F1F1;
    padding: 16px 24px;
    padding-left: 48px;
    font-size: 14px;
    display: inline;
    border-radius: 4px;
    img {
      position: absolute;
      width: 32px;
      height: 32px;
      top:8px;
      left:8px;
    }
  }
  .video-demo {
    width:100%;
    margin-top:64px;
  }
}
#basic-unit-02 {
  text-align: center;
  padding:64px 0;
  background:#020626;
  * {
    color: #fff;
  }
  .text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
    margin:32px 0;
  }
  h1 {
    font-size: 30px;
    font-weight: 100;
    margin: 36px 0;
  }
  .wave {
    padding-top:200px;
    padding-bottom:200px;
    .wave-line {
      position: relative;
      width: 100%;
      height: 1px;
      background: #fff;
      content:'';
    }
    .wave-bg {
      position: absolute;
      top:-240px;
      height: 495px;
      width: 100%;
      right: 0;
      left:0;
      background: url(/images/wave-bg2.png);
      background-position: center;
      background-size: auto 495px;
    }
    .wave-small {
      position: absolute;
      right:50%;
      top:-130px;
      margin-right: 18%;
      width: 19px;
      height: 265px;
      background:url(/images/wave-small.png);
      background-size: cover;
      content:'';
    }
    .wave-big {
      position: absolute;
      left:50%;
      top:-240px;
      width: 35px;
      height: 495px;
      margin-left: 18%;
      background:url(/images/wave-big.png);
      background-size: cover;
      content:'';
    }
  }
  .taps {
    .tap-small,.tap-big {
      img.finger-icon {
        width: 64px;
        height: auto;
      }
    }
    h4 {
      display: block;
      width: 240px;
      line-height: 56px;
      height: 56px;
      font-size: 16px;
      font-weight: 200;
      text-align: center;
      border: 1px solid #fff;
      border-radius: 4px;
      margin:24px auto;
    }
    .tap-small {
      h4 {
        border: 1px solid #63C3F6;
        color:#63C3F6;
      }
    }
    .tap-big {
      h4 {
         border: 1px solid #F59D00;
         color:#F59D00;
      }
    }
  }
}
#basic-unit-03 {
  text-align: center;
  padding:64px 0;
  background:#fff;
  .text {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
    margin:32px 0;
  }
  h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 36px 0;
  }
  .try-text {
    padding:15px 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
  }
  .button-wrapper {
    width: 50%;
    float:left;
  }
  .tap-button {
    margin:16px 24px;
    height: 64px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    h5 {
      padding: 8px 0 4px 0;
      font-size: 18px;
      font-weight: 200;
    }
    p {
      font-size: 14px;
      font-weight: 100;
    }
  }
  #light-button {
    background:#2E97DE;
    border:1px solid #227EBA;
    border-bottom:3px solid #227EBA;
    color:#fff;
    &:active {
      height:67px;
      background:#227EBA;
      border-bottom:0px solid #227EBA;
    }
  }
  #strong-button {
    background:#F59D00;
    border:1px solid #E87F04;
    border-bottom:3px solid #E87F04;
    color:#fff;
    &:active {
      height:67px;
      background:#E87F04;
      border-bottom:0px solid #227EBA;
    }
  }
}
#magictv {
  position: relative;
  border:9px solid #333;
  height:400px;
  width:100%;
  border-radius: 4px;
  overflow: hidden;
  background: #020626;
  .main-window {
    position: absolute;
    top:12%;
    left:3%;
    bottom: 12%;
    content:'';
    width: 65%;
    background: #33495F;
    .img-content {
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      content:'';
    }
  }
  .side-menu {
    position: absolute;
    top:16px;
    bottom:16px;
    right:3%;
    width: 27%;
    overflow: hidden;
    @include transition(all, 0.4s, ease-out, 0s);
  }
  .menu {
    .title {
      @include transition(all, 0.4s, ease-out, 0s);
      &.exec {
        background:#F2C500 !important;
      }
    }
    &.selected {
      .title {
        background:#00BD9C;
      }
    }
  }
  .top-menu {
    width: 95%;
    margin-top:6px;
    margin-bottom:6px;
    & > .title {
      width:100%;
      height: 88px;
      line-height: 88px;
      color:#fff;
      background:rgba(255,255,255,0.4);
      border-radius: 2px;
    }
  }
  .child-menu {
    margin:2px 0 2px 24px;
    & > .title {
      color:#fff;
      background:rgba(255,255,255,0.4);
      border-radius: 2px;
      width:100%;
      height: 46px;
      line-height: 46px;
    }
  }
  .child-menu {
    display: none;
    &.show {
      display: block;
    }
  }
  .disnon {
    display: none;
  }
}
#magictv-bg {
  width:100%;
  height: auto;
}


header {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  height: 64px;
  z-index: 10;
  h1 {
    color:#fff;
  }
}
.container {
  padding:16px;
}
.clear {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}
main {
  iframe {
    width:100%;
    margin-top:70px;
  }
  text-align: center;
  h2 {
    padding:36px 0;
    font-weight: 100;
    font-size:2.0rem;
    color:#444;
  }
  img {
    margin:32px 0;
    border:1px solid #ccc;
    padding:8px;
  }
}

footer {
  text-align: center;
  padding:60px 0;
  background:#212121;
  color: #fff;
}
@media (max-width: 550px) {
  .bg-video {
    display: none;
  }
  br {
    display: none;
  }
  #impression {
    padding-top: 32px;
    padding-bottom: 32px;
    .main-phrase {
      text-align: center;
      font-size: 2.4rem;
      font-weight: 100;
      color:#fff;
      padding:64px 0 64px 0;
      br {
        display: inline;
      }
    }
    .logo {
      width: 240px !important;
      height: auto;
    }
  }
  #advance-sns {
    margin-top:64px;
    padding: 24px 0;
    background:rgba(255,255,255,0.2);
    border:1px solid rgba(255,255,255,0.3);
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 26px;
    iframe {
      display: block;
      position: static;
    }
  }
}
