<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }} - {{ description }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <header>
  </header>

  <main class="container">
    <img src="/images/Main.png" width="600px" height="auto">
    <h2>魔法のように、あらゆるものをノックでコントロールできる実世界指向インタフェース</h2>
    <p>まもなく情報公開！</p>
  </main>

  <footer>
    <p>Designed by <a href="http://leapcast.jp/">Leapcast</a></p>
  </footer>

</body>
</html>
